@import "fonts.scss";
@import "mixins.scss";

@include reset;

/************  Общие стили ************/
@include general;
/************  /Общие стили ************/

html {
  box-sizing: border-box;
  font-family: "Futura PT Book";
}

body {
  .container {
    @media (min-width: 500px) {
      padding: 0 40px;
    }

    .btn {
      @media (min-width: 500px) {
        width: 300px;
      }
    }

    @media (min-width: 768px) {
      padding: 0 60px;
    }
  }
}

/***********    header     ***********/

@include Header;

/***********    /header     ***********/

/***********    description     ***********/

.event-description {
  background: rgba($color: #1E90FF, $alpha: 1.0);
  border-radius: 0 0 30px 30px;
  position: relative;
  z-index: 7;
  min-width: 320px;
  color: #fff;

  &__title {
    padding-top: 80px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 1.7rem;
    font-family: "Futura PT";
    font-weight: 900;
    font-style: normal;
    position: relative;
  }

  &__text {
    padding-bottom: 40px;
    text-align: center;
    font-family: "Futura PT";
    font-weight: 500;
    font-style: italic;
    color: #444;
  }
}

/***********    /description     ***********/

/***********    gentlments     ***********/

.gentlmens {
  background: url("../img/dest/g4.jpg") #000 no-repeat 50% 50%;
  background-size: cover;
  background-position: center bottom;
  margin-top: -30px;
  border-radius: 0 0 30px 30px;
  position: relative;
  z-index: 5;
  min-width: 320px;

  // height: 100vh;
  &::after {
    @include darkMode;
  }

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: 640px) {
    background-position: top center;
  }

  .description {
    position: relative;
    z-index: 6;
    padding-top: 50px;
    vertical-align: middle;
    width: 100%;
    color: rgb(235, 228, 228);
    text-align: left;
    text-transform: uppercase;

    @media (min-width: 360px) {
      padding-top: 120px;
      font-size: 1.3rem;
    }

    @media (min-width: 500px) {
      font-size: 1.5rem;
    }

    @media (min-width: 768px) {
      font-size: 1.9rem;
      padding-top: 150px;
    }

    &__title h1 {
      font-size: 35px;
      font-family: "Akrobat";
      font-weight: 700;
      font-style: normal;
      line-height: 0.9;
      padding-bottom: 10px;
      text-align: center;

      @media (min-width: 500px) {
        font-size: 70px;
      }

      @media (min-width: 768px) {
        font-size: 120px;
        padding-top: 100px;
      }
    }

    &__text:nth-child(1) p {
      font-size: 1.3rem;
      padding-top: 50px;
      padding-bottom: 50px;
      line-height: 24px;
      text-align: center;
    }

    &__text:nth-child(2) p {
      font-size: 1rem;
      margin-bottom: 40px;
      line-height: 18px;
      padding-bottom: 10px;
      padding-left: 20px;
      line-height: 18px;
      background: rgba($color: #000000, $alpha: 0.7);
      border-radius: 30px;

      @media (min-width: 375px) {
        font-size: 1.1rem;
        line-height: 25px;
        font-family: "Futura PT";
        font-weight: 300;
        font-style: italic;
      }

      @media (min-width: 768px) {
        font-size: 1.9rem;
        padding-top: 100px;
        line-height: 40px;
      }
    }
  }

  .social {
    padding-top: 40px;
    padding-bottom: 20px;
    display: flex;
    list-style: none;
    justify-content: center;
    align-content: flex-end;
    align-items: flex-end;
    position: relative;
    z-index: 6;

    li {
      margin-left: 15px;

      @media (min-width: 768px) {
        margin-left: 35px;
      }

      a {
        img {
          width: 32px;
          height: 32px;
          transition: all 0.5s ease 0.1s;

          &:hover {
            filter: invert(0.3);
          }

          // @media (min-width: 768px) {
          //   width: 50px;
          //   height: 50px;
          // }
        }
      }
    }
  }
}

/***********    /gentlments     ***********/

/***********    mirror-man     ***********/

.mirror-man {
  background: url("../img/dest/s3.jpg") #000 no-repeat 50% 50%;
  background-size: cover;
  background-position: center center;
  z-index: 3;
  margin-top: -30px;
  border-radius: 0 0 30px 30px;
  position: relative;

  min-width: 320px;

  &::after {
    @include darkMode;
  }

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: 640px) {
    background-position: top center;
  }

  .description {
    position: relative;
    z-index: 4;
    padding-top: 50px;
    vertical-align: middle;
    width: 100%;
    color: rgb(235, 228, 228);
    text-align: left;
    text-transform: uppercase;

    @media (min-width: 360px) {
      padding-top: 120px;
      font-size: 1.3rem;
    }

    @media (min-width: 500px) {
      font-size: 1.5rem;
    }

    @media (min-width: 768px) {
      font-size: 1.9rem;
      padding-top: 150px;
    }

    &__title h1 {
      font-size: 35px;
      font-family: "Akrobat";
      font-weight: 700;
      font-style: normal;
      line-height: 0.9;
      padding-bottom: 20px;
      text-align: center;

      @media (min-width: 500px) {
        font-size: 70px;
      }

      @media (min-width: 768px) {
        font-size: 120px;
        padding-top: 100px;
      }
    }

    &__text:nth-child(1) p {
      font-size: 1.3rem;
      padding-top: 50px;
      padding-bottom: 50px;
      line-height: 24px;
      text-align: center;

      @media (min-width: 768px) {
        font-size: 1.7rem;
      }
    }

    &__text:nth-child(2) p {
      font-size: 1rem;
      margin-bottom: 40px;

      padding-bottom: 10px;
      padding-left: 20px;
      line-height: 18px;
      background: rgba($color: #000000, $alpha: 0.7);
      border-radius: 30px;

      @media (min-width: 375px) {
        font-size: 1.1rem;
        line-height: 25px;
        font-family: "Futura PT";
        font-weight: 300;
        font-style: italic;
      }

      @media (min-width: 768px) {
        font-size: 1.9rem;

        line-height: 40px;
        width: 500px;
        margin: 0 auto;
        margin-bottom: 40px;
        margin-top: 40px;
      }
    }
  }
}

/***********    /mirror-man     ***********/