@import "fonts.scss";
@import "mixins.scss";

@include reset;

/************  Общие стили ************/
@include general;
/************  /Общие стили ************/

html {
  box-sizing: border-box;
  font-family: "Futura PT Book";
}

body {
  .container {
    @media (min-width: 500px) {
      padding: 0 40px;
    }

    .btn {
      @media (min-width: 500px) {
        width: 300px;
      }
    }

    @media (min-width: 768px) {
      padding: 0 60px;
    }
  }
}

/***********    header     ***********/

@include Header;

/***********    /header     ***********/

/***********    gallery-description     ***********/

.gallery-description {
  background: rgba($color: #1E90FF, $alpha: 1.0);
  border-radius: 0 0 30px 30px;
  position: relative;
  z-index: 7;
  min-width: 320px;
  color: #fff;

  &__title {
    padding-top: 80px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 1.7rem;
    font-family: "Futura PT";
    font-weight: 900;
    font-style: normal;
    position: relative;
  }

  &__text {
    padding-bottom: 40px;
    text-align: center;
    font-family: "Futura PT";
    font-weight: 500;
    font-style: italic;
    color: #444;
  }
}

/***********    /gallery-description     ***********/


/***********    gallery-photo     ***********/

.gallery-photo {
  position: relative;
  height: 100%;
  width: 100%;

  .gallery {
    position: relative;
    height: auto;
    width: 90%;
    margin: auto;
    padding: 45px 0;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2vh;
    grid-auto-flow: dense;

    @media only screen and (max-width: 768px) {
      grid-template-columns: auto auto auto;
      display: grid;

    }

    @media only screen and (max-width: 475px) {
      display: block;
    }

    .img {
      position: relative;
      height: 100%;
      width: 100%;
      overflow: hidden;
      box-shadow: 0 2px 2px rgba($color: #000000, $alpha: 0.9);
      border-radius: 2px;

      @media only screen and (max-width: 475px) {
        display: block;
        width: 100%;
        height: 100%;
        margin: 2% 0;
      }

      &:first-child {
        grid-column-start: span 2;
        grid-row-start: span 2;
      }

      &:nth-child(2n+3) {
        grid-row-start: span 2;
      }

      &:nth-child(4n+5) {
        grid-row-start: span 2;
        grid-column-start: span 2;
      }

      &:nth-child(6n+7) {
        grid-row-start: span 1;
      }

      &:nth-child(8n+9) {
        grid-row-start: span 1;
        grid-column-start: span 1;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        filter: brightness(0.5) grayscale(0.9);
        transition: 0.3s ease-in-out;

        @media only screen and (max-width: 475px) {
          display: block;
          filter: brightness(1) grayscale(0);
        }

        &:hover {
          filter: brightness(1) grayscale(0)
        }
      }
    }

  }
}

/***********    /gallery-photo     ***********/