@import "fonts.scss";
@import "mixins.scss";

@include reset;

/************  Общие стили ************/
@include general;
/************  /Общие стили ************/

html {
  box-sizing: border-box;
  font-family: "Futura PT Book";
}

body {
  .container {
    @media (min-width: 500px) {
      padding: 0 40px;
    }

    .btn {
      @media (min-width: 500px) {
        width: 300px;
      }
    }

    @media (min-width: 960px) {
      padding: 0 60px;
    }
  }
}

/***********    header     ***********/

@include Header;

/***********    /header     ***********/

/***********    videos-description     ***********/
.videos-description {
  background: #dd8f6b;
  border-radius: 0 0 30px 30px;
  position: relative;
  z-index: 7;
  min-width: 320px;
  color: #fff;

  &__title {
    padding-top: 80px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 1.7rem;
    font-family: "Futura PT";
    font-weight: 900;
    font-style: normal;
    position: relative;
  }

  &__text {
    padding-bottom: 40px;
    text-align: center;
    font-family: "Futura PT";
    font-weight: 500;
    font-style: italic;
    color: rgba($color: #fff, $alpha: 0.7);
  }
}

/***********    /videos-description     ***********/

.videos {
  &__clip {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 10px;
  }
}